:root {
  --navy-blue-900: #163066;
  --navy-blue-800: #3961b2;
  --navy-blue-700: #85acff;
  --navy-blue-600: #cbdaff;
  --navy-blue-500: #ebf1ff;
  --navy-blue-400: #f5f8ff;
  --navy-blue-300: #e1ecf9;
  --navy-blue-dark-900: #163066;
  --navy-blue-dark-800: #3961B2;
  --navy-blue-dark-700: #85ACFF;
  --navy-blue-dark-600: #CBDAFF;
  --navy-blue-dark-500: #EBF1FF;
  --navy-blue-dark-400: #F5F8FF;
  --navy-blue-dark-300: #E1ECF9;
  --accent: #ffbd38;
  --sky-blue-900: #1594cc;
  --sky-blue-800: #66d0ff;
  --sky-blue-700: #b2e8ff;
  --sky-blue-600: #e5f7ff;
  --white-900: #ffffff;
  --white-800: #eeeeee;
  --white-700: #d1d1d1;
  --white-600: #a3a3a3;
  --white-500: #7a7a7a;
  --black-900: #1e1e1e;
  --black-800: #323232;
  --black-700: #525252;
  --black-600: #9e9e9e;
  --black-500: #e0e0e0;
  --bg-white-primary: #fafafa;
  --bg-white-secondary: #f5f5f5;
  --disable-color: #cbcace;
  --stroke-900: #666c7c;
  --stroke-800: #858b99;
  --stroke-700: #a2a5ad;
  --stroke-600: #cccccc;
  --stroke-500: #ebebeb;
  --blue-navigation-link-button: #007aff;
  --chips-error: #ff2e37;
  --chips-success: #19ad4b;
  --chips-information: #41b1fc;
  --chips-warning: #ffd828;
  --chips-warning-2: #d8b414;
  --chips-error-bg: #ffe0e2;
  --chips-success-bg: #dbffe7;
  --chips-information-bg: #def0fc;
  --chips-warning-bg: #fff9e0;
  --dark-900: #090909;
  --dark-850: #1b1b1e;
  --dark-800: #101011;
  --dark-750: #1c1d1f;
  --dark-700: #23252a;
  --dark-600: #24262b;
  --dark-500: #343740;
  --ai-animation: #f8a8aa;
  --status-bg-coral-sunset: #ffe5e0;
  --status-bg-sky-blue: #e0f2fe;
  --status-bg-mint-breeze: #d1fae5;
  --status-bg-lavender-mist: #f3e8ff;
  --status-bg-lemon-sorbet: #fef9c3;
  --status-bg-rose-blush: #fee2e2;
  --status-bg-blush-pink: #FDE2E4;
  --status-bg-lagoon-water: #CFFAFE;
  --status-bg-denim-fade: #DBEAFE;
  --status-bg-powder-teal: #CCFBF1;
  --status-bg-soft-indigo: #E0E7FF;
  --status-bg-peach-fuzz: #FFEDD5;
  --status-bg-watermelon: #FFE4E6;
  --status-bg-sea-salt: #D1FAF9;
  --status-bg-slate-whisper: #E2E8F0;
  --status-bg-forest-hunt: #D9F99D;
  --status-bg-canary-shine: #FFDDCF;
  --status-bg-berry-blush: #FEE2F8;
  --status-bg-mullbery-dust: #FAE8FF;
  --status-bg-tangerine-cream: #FFFFC7;
  --status-bg-lilac-sky: #e0deff;
  --status-bg-greyscale: #EAEAEA;
  --status-text-coral-sunset: #C2410C;
  --status-text-sky-blue: #0369A1;
  --status-text-mint-breeze: #065F46;
  --status-text-lavender-mist: #6B21A8;
  --status-text-lemon-sorbet: #A16207;
  --status-text-rose-blush: #B91C1C;
  --status-text-lagoon-water: #0891B2;
  --status-text-denim-fade: #1D4ED8;
  --status-text-powder-teal: #0F766E;
  --status-text-soft-indigo: #3730A3;
  --status-text-peach-fuzz: #C2410C;
  --status-text-watermelon: #DB2777;
  --status-text-sea-salt: #0D9488;
  --status-text-slate-whisper: #1E293B;
  --status-text-forest-hunt: #3F6212;
  --status-text-canary-shine: #92400E;
  --status-text-berry-blush: #BE185D;
  --status-text-mullbery-dust: #A21CAF;
  --status-text-tangerine-cream: #8E8106;
  --status-text-lilac-sky: #2A1FB5;
  --status-text-greyscale: #303030;
  --bars-green-med: #5CE543;
  --bars-red-med: #FF4040;
  --bars-blue-med: #007AFF;
  --bars-yellow-med: #F9A538;
  --bars-sky-blue-med: #66D0FF;
  --bars-green-dark: #1FC001;
  --bars-blue-dark: #0160C8;
  --bars-red-dark: #D30000;
  --bars-yellow-dark: #CE7500;
  --bars-sky-blue-dark: #0098DA;

  --urbanist: "Urbanist", "sans-serif";
  --dm-sans: "DM Sans", "sans-serif";

  --AI-ButtonBorder: linear-gradient(
    42deg,
    #f8a8aa 7.93%,
    #ffa5e0 29.5%,
    #ffdfd7 38.64%,
    #ffb126 51.64%,
    #ff512b 77.37%
  );
}
